.film-page,
.review-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    width: 90%;
    margin-top: -11em;
    figure.poster {
        width: 23%;
        max-width: 250px;
        position: sticky;
        top: 20px;
        img {
            max-width: 100%;
            min-width: 200px;
            border-radius: 4px;
            border: 1px solid $gray-border;
        }
        figcaption {
            display: flex;
            margin-top: 10px;
            i {
                width: 30px;
                height: 20px;
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
            }
            i.watches {
                background-image: url('../images/watched-darkbg.png');
            }
            i.likes {
                background-image: url('../images/heart-yellow-darkbg.png');
            }
            & > div {
                position: relative;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover .description {
                    opacity: 1;
                }
            }
            span:first-of-type {
                font-size: 0.8rem;
            }
            .description {
                font-size: 0.65rem;
                position: absolute;
                border-radius: 4px;
                background-color: $gray-border;
                padding: 0.5em;
                width: max-content;
                left: 0;
                top: -30px;
                opacity: 0;
                transition: opacity 250ms ease;
            }
        }
    }
    & > div,
    & > article {
        width: 70%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .film-actions {
            display: none;
        }
        div:last-child {
            button {
                background-color: $gray-border;
                border: none;
                border-radius: 4px;
                padding: 0.5em;
                font-size: 0.8rem;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

.details {
    max-width: 400px;
    .title {
        padding-bottom: 2em;
        font-size: 1.8rem;
        span:not(.director) {
            font-size: 1rem;
            opacity: 0.6;
        }
        .director {
            margin-top: 1em;
            display: block;
            font-size: 0.8rem;
            font-weight: normal;
            opacity: 0.8;
            color: $gray-text-secondary;
        }
    }
    p {
        color: $gray-text-secondary;
    }
    .meta {
        font-size: 0.7rem;
        margin-top: 3em;
    }
}

.film-actions {
    background-color: $gray-border;
    border-radius: 4px;
    width: 260px;
    padding: 1em 0 0 0;
    align-self: flex-start;
    & > div {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
    }
    button {
        border: none;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 70px;
        img {
            object-fit: contain;
            margin-bottom: 10px;
        }
        p {
            position: relative;
            text-align: center;
            width: 100%;
        }
        &:hover p.marked {
            color: transparent;
        }
        &:hover p.marked:after {
            content: 'Remove';
            color: $gray-text;
            position: absolute;
            width: 100%;
            left: 0;
        }
        &:hover,
        p:hover {
            color: white;
        }
    }
    button.review {
        min-width: 100%;
        border-top: 1px solid $bg-black;
        margin-top: 2em;
        padding: 1.5em 1em;
        display: flex;
        justify-content: center;
    }
}

.reviews {
    width: 100%;
    margin-top: 4em;
    a {
        text-decoration: none;
    }
    & > h4 {
        font-size: 0.9rem;
        padding: 0.5em 0;
        color: $gray-text-secondary;
        border-bottom: 1px solid #44556696;
        font-weight: normal;
    }
    .review {
        padding: 2em 0;
        border-bottom: 1px solid #44556696;
        display: flex;
        & > div {
            margin-left: 20px;
            flex: 1;
            .content {
                padding: 1em 0;
                opacity: 0.8;
            }
        }
        .profile-picture {
            height: 50px;
            width: 50px;
            object-fit: cover;
        }
    }
    & > p {
        text-align: center;
        font-size: 0.9rem;
        color: $gray-text-secondary;
        margin-top: 4em;
    }
}

.like-review-btn {
    background-color: transparent !important;
    display: flex;
    align-items: center;
    font-weight: bold;
    opacity: 0.8;
    padding: 0.5em 0;
    img {
        width: 25px;
        height: 25px;
        margin-top: -5px;
        margin-right: 5px;
    }
    span {
        font-weight: normal;
        margin-left: 10px;
        opacity: 0.6;
    }
}

.profile-picture {
    border-radius: 50%;
    border: 1px solid $gray-text-secondary;
    transition: border 250ms ease;
    width: 45px;
    &:hover {
        border: 1px solid $gray-text;
    }
}

.user {
    opacity: 0.8;
    display: flex;
    align-items: center;
    span {
        font-weight: normal;
        font-size: 0.8rem;
        color: $gray-text-secondary;
        margin-right: 10px;
    }
}

i.comments-number {
    background-image: url('../images/comment-bubble.png');
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 30px;
    height: 15px;
    background-position: center;
}

i.stars {
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    margin: 0 1em;
}

.backdrop.smaller {
    width: auto;
    img {
        object-fit: cover;
    }
}

.film-page .film-actions {
    display: block !important;
}

i[data-rating='5'] {
    background-image: url('../images/5-stars.png');
    width: 60px;
}
i[data-rating='4.5'] {
    background-image: url('../images/4.5-stars.png');
    width: 55px;
}
i[data-rating='4'] {
    background-image: url('../images/4-stars.png');
    width: 50px;
}
i[data-rating='3.5'] {
    background-image: url('../images/3.5-stars.png');
    width: 45px;
}
i[data-rating='3'] {
    background-image: url('../images/3-stars.png');
    width: 38px;
}
i[data-rating='2.5'] {
    background-image: url('../images/2.5-stars.png');
    width: 35px;
}
i[data-rating='2'] {
    background-image: url('../images/2-stars.png');
    width: 30px;
}
i[data-rating='1.5'] {
    background-image: url('../images/1.5-stars.png');
    width: 30px;
}
i[data-rating='1'] {
    background-image: url('../images/1-stars.png');
    width: 20px;
}
i[data-rating='0.5'] {
    background-image: url('../images/0.5-stars.png');
    width: 15px;
}
i[data-rating='0'] {
    margin: 0;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
    .film-page {
        margin: -9em 20px 0 20px;
        width: auto;
        figure.poster {
            width: 150px;
            img {
                min-width: auto;
            }
        }
        & > div {
            flex: 1;
            margin: 0 20px;
        }
    }
}
@media screen and (max-width: 768px) {
    .film-page {
        margin-top: -6em;
        width: auto;
        figure.poster {
            img {
                min-width: 100px;
            }
        }
        .details {
            width: 100%;
            max-width: none;
            .title {
                font-size: 1.4rem;
                padding-bottom: 1em;
            }
            p:not(.meta) {
                font-size: 0.9rem;
            }
        }
        .film-actions {
            margin-top: 2em;
        }
    }
}
@media screen and (max-width: 576px) {
    .film-page {
        margin-top: -4em;
        width: auto;
        .film-actions {
            width: 230px;
            margin: 2em auto;
            margin-bottom: 0;
        }
        .reviews {
            width: 90vw;
            margin-top: 2em;
        }
        figure.poster {
            position: static;
            margin-bottom: 1em;
        }
    }
    .user {
        flex-wrap: wrap;
        position: relative;
        .comments-number {
            margin: 5px 0 0 0;
            width: 80%;
            background-position: left;
        }
        span:last-of-type {
            position: absolute;
            bottom: -2px;
            left: 20px;
        }
    }
    .like-review-btn {
        padding-left: 0 !important;
    }
}
