.film-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
    margin-top: -10em;
    figure.poster {
        width: 25%;
        max-width: 250px;
        img {
            max-width: 100%;
            min-width: 200px;
            border-radius: 4px;
            border: 1px solid $gray-border;
        }
    }
    & > div {
        width: 70%;
        display: flex;
        justify-content: space-between;
        div:last-child {
            button {
                background-color: $gray-border;
                border: none;
                border-radius: 4px;
                padding: 0.5em;
                font-size: 0.8rem;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

.details {
    max-width: 400px;
    .title {
        padding-bottom: 2em;
        font-size: 1.8rem;
        .director {
            margin-top: 1em;
            display: block;
            font-size: 0.8rem;
            font-weight: normal;
            opacity: 0.8;
            color: $gray-text-secondary;
        }
    }
    p {
        color: $gray-text-secondary;
    }
    .meta {
        font-size: 0.7rem;
        margin-top: 3em;
    }
}

.film-actions {
    background-color: $gray-border;
    border-radius: 4px;
    width: 260px;
    padding: 1em 0 0 0;
    align-self: flex-start;
    & > div {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
    }
    button {
        border: none;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 70px;
        img {
            object-fit: contain;
            margin-bottom: 10px;
        }
        p {
            position: relative;
        }
        &:hover p.marked {
            color: transparent;
        }
        &:hover p.marked:after {
            content: 'Remove';
            color: $gray-text;
            position: absolute;
            width: 100%;
            left: 0;
        }
        &:hover,
        p:hover {
            color: white;
        }
    }
    button.review {
        min-width: 100%;
        border-top: 1px solid $bg-black;
        margin-top: 2em;
        padding: 1.5em 1em;
    }
}

.reviews {
    width: 60%;
    margin-left: auto;
}
