.input-styling {
    background-color: #2c3440;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);
    border-radius: 3px;
    width: 100%;
    resize: none;
    margin-bottom: 2em;
    padding: 0.5em;
    color: #99aabb;
    &:focus {
        background-color: white;
        color: $bg-black;
        outline: none;
    }
}

.user-lists {
    .container {
        display: flex;
        .left-col {
            flex: 1;
        }
        & > button {
            background-color: $gray-border;
            border: none;
            border-radius: 3px;
            padding: 0.4em 4em;
            margin-left: 30px;
            align-self: flex-start;
            &:hover {
                a {
                    color: $blue;
                }
            }
            a {
                text-decoration: none;
            }
        }
    }
}

.new-list-page {
    padding-top: 10em;
    width: 80%;
    margin: 0 auto;
}

.new-list-form {
    h4 {
        font-size: 1.6rem;
        padding: 0.2em 0;
        font-weight: normal;
        color: #aabbcc;
        margin-bottom: 1em;
    }
    & > div:not(.actions-container) {
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 10px;
        }
        input,
        textarea {
            @extend .input-styling;
        }
    }
}

.actions-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .add-film,
    .cancel-save {
        display: flex;
        align-items: center;
    }
    .add-film {
        width: 49.5%;
        max-width: 600px;
        min-width: 350px;
        .green-btn {
            margin: 0;
            font-size: 0.8rem;
            width: max-content;
            margin-right: 10px;
        }
        .selection {
            position: relative;
            flex: 1;
            & > p {
                position: absolute;
                background-color: $gray-border;
                width: 100%;
                border-radius: 3px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                padding: 0.3em 0.7em;
                cursor: pointer;
                &:hover {
                    background-color: $green;
                }
            }
        }
        input {
            @extend .input-styling;
            margin: 0;
            flex: 1;
        }
    }
    .cancel-save {
        min-width: 350px;
        max-width: 600px;
        width: 49.5%;
        display: flex;
        justify-content: flex-end;
        button {
            font-size: 0.9rem;
            font-weight: bold;
        }
        .green-btn {
            margin: 0 0 0 10px;
        }
        .cancel {
            border: none;
            border-top: 1px solid #99aabb83;
            background-color: $gray-border;
            border-radius: 3px;
            padding: 0.3em 0.7em;
            a {
                text-decoration: none;
            }
            &:hover {
                background-color: $gray;
            }
        }
    }
}

.new-list-page .movies-container {
    border: 1px solid #99aabb3d;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
    &.empty {
        padding: 4em;
    }
    p {
        color: $gray;
        font-weight: 0.9rem;
        margin-top: 2em;
    }
    .film {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: move;
        padding: 0.8em;
        border-bottom: 1px solid #99aabb3d;
        &:last-of-type {
            border-bottom: none;
        }
        &:hover {
            background-color: #99aabb17;
        }
        & > div {
            display: flex;
        }
        img {
            max-width: 40px;
            border-radius: 3px;
            border: 1px solid #99aabb3d;
            margin-right: 10px;
        }
        figcaption {
            font-weight: bold;
            font-size: 1.3rem;
            p {
                color: white;
                margin: 0;
            }
            span,
            p:last-of-type {
                font-size: 0.8rem;
                font-weight: normal;
                color: #aabbcc7a;
            }
        }
    }
    .remove {
        border: none;
        background-color: transparent;
        position: relative;
        color: transparent;
        outline: none;
        &:after,
        &:before {
            content: '';
            width: 2px;
            background-color: $gray;
            position: absolute;
            top: 0;
            bottom: 0;
        }
        &:hover::after,
        &:hover::before {
            background-color: $orange;
        }
        &:after {
            transform: rotate(135deg);
            left: 0;
        }
        &:before {
            transform: rotate(-135deg);
            left: 0;
        }
    }
}

.list {
    display: flex;
    border-bottom: 1px solid #99aabb3d;
    a {
        display: flex;
        align-self: flex-start;
        width: 45%;
        max-width: 350px;
        min-width: 300px;
    }
    .wrapper {
        display: flex;
        img {
            object-fit: cover;
        }
    }
    & > div {
        flex: 1;
        margin: 2em 0 1em 20px;
        h2 {
            display: flex;
            flex-direction: column;
            span {
                font-size: 0.75rem;
                font-weight: normal;
                opacity: 0.6;
            }
        }
        p {
            opacity: 0.6;
            margin-top: 20px;
        }
    }
}
