.profile-page {
    padding-top: 11em;
    margin: 0 auto;
    width: 85%;
    .user-info {
        display: flex;
        align-items: center;
    }
    .profile-picture {
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    .username {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        .action,
        .settings {
            background-color: $gray-border;
            padding: 0.3em 0.7em;
            margin-top: 20px;
            border: none;
            border-radius: 4px;
            font-size: 0.7rem;
            font-weight: bold;
            border-top: 1px solid rgba(255, 255, 255, 0.37);
            letter-spacing: 1px;
            a {
                text-decoration: none;
                &:hover {
                    color: white;
                }
            }
        }
        .action:hover {
            background-color: $gray;
            color: white;
        }
        .action.unfollow {
            background-color: $green;
            width: 90px;
            span {
                color: white;
            }
            span:last-of-type {
                display: none;
            }
            &:hover {
                background-color: $orange;
                span:last-of-type {
                    display: inline-block;
                }
                span:first-of-type {
                    display: none;
                }
            }
        }
    }
    .stats {
        margin-left: auto;
        opacity: 0.8;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-left: 1px solid $gray;
            padding: 0 0.5em;
            font-size: 1.6rem;
            span {
                color: #99aabb;
                font-size: 0.8rem;
                opacity: 0.6;
            }
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        padding: 4em 0;
        .left-col {
            flex: 1;
            margin-right: 60px;
        }
        .right-col {
            width: 28%;
            min-width: 250px;
        }
    }
    i.likes {
        background-image: url('../images/heart-yellow-darkbg.png');
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
    }
    h4 {
        display: flex;
        justify-content: space-between;
        opacity: 1;
        color: #99aabb;
        span {
            color: #99aabb;
            opacity: 0.8;
        }
    }
    .bio p {
        opacity: 0.8;
        margin: 2em 0;
        padding: 1em 0;
    }
}

.void-msg {
    width: 100%;
    text-align: center;
    color: #99aabb;
    margin: 5em 0;
}

.favorite-films {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h4 {
        margin-bottom: 1em;
        width: 100%;
    }
    a {
        width: 24%;
        display: flex;
    }
    img,
    .placeholder {
        width: 24%;
        max-width: 180px;
        border-radius: 4px;
        border: 1px solid $gray;
        background-color: #111111;
    }
    .placeholder.height {
        height: 225px;
    }
    img {
        width: 100%;
    }
}

.recent-reviews,
.reviews-container {
    .review {
        display: flex;
        align-items: flex-start;
        margin: 1em 0 0 0;
        padding-bottom: 2em;
        border-bottom: 1px solid #445566;
        &:last-of-type {
            border-bottom: none;
        }
        a {
            text-decoration: none;
            &:hover {
                color: $blue;
            }
        }
        img {
            width: 70px;
            border-radius: 4px;
            border: 1px solid $gray;
            margin-right: 20px;
        }
        div {
            flex: 1;
            h2 {
                span {
                    font-size: 0.8rem;
                    color: #667788;
                }
            }
            .date {
                font-size: 0.8rem;
                color: #667788;
                display: flex;
                align-items: center;
                .stars {
                    margin-left: 0;
                    margin-top: -2px;
                }
            }
            .content {
                margin: 2em 0;
                opacity: 0.8;
                color: #97abbe;
            }
            div:last-child {
                font-size: 0.8rem;
                opacity: 0.6;
                font-weight: bold;
                color: #99aabb;
            }
        }
    }
}

section.settings {
    padding-top: 11em;
    margin: 0 auto;
    width: 80%;
    h2 {
        width: 100%;
        padding-bottom: 0.5em;
        margin-bottom: 2em;
        opacity: 0.8;
        border-bottom: 1px solid #445566;
    }
    .container {
        width: 100%;
        display: flex;
        .profile-form {
            margin-right: 4em;
            width: 40%;
            .green-btn {
                color: white;
            }
            label:first-of-type {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                span {
                    color: #99aabb;
                    font-size: 0.8rem;
                    opacity: 0.8;
                }
            }
            label {
                display: inline-block;
                width: 100%;
                margin-bottom: 0.5em;
                opacity: 0.8;
                color: $gray-text-secondary;
            }
            input,
            textarea {
                background-color: #2c3440;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.281);
                border-radius: 3px;
                width: 100%;
                resize: none;
                margin-bottom: 2em;
                padding: 0.5em;
                color: #99aabb;
                &:focus {
                    background-color: white;
                    color: $bg-black;
                    outline: none;
                }
            }

            .image-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin-bottom: 3em;
                .green-btn {
                    margin: 0;
                    color: white;
                }
                input[type='file'] {
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    z-index: 10;
                    cursor: pointer;
                    height: 100%;
                    margin: 0;
                    width: 60%;
                }
                img {
                    border-radius: 50%;
                    width: 90px;
                    height: 90px;
                    object-fit: cover;
                }
            }
        }
    }
}

.edit-favorites {
    flex: 1;
    max-width: 52%;
    min-width: 400px;
    h4 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: $gray-text-secondary;
        opacity: 0.8;
        span {
            font-size: 0.6rem;
            opacity: 0.5;
        }
    }
    .posters {
        margin: 2em 0;
        display: flex;
        justify-content: space-between;
        .add {
            position: relative;
            border-radius: 3px;
            width: 23%;
            min-width: 80px;
            min-height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #445566;
            &:hover .gray-btn.remove {
                display: flex;
            }
            .placeholder {
                cursor: pointer;
                background-color: #2c3440;
                width: 100%;
                height: 100%;
            }
            img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover .gray-btn {
                opacity: 1;
            }
        }
    }
}

.search-favorite {
    background-color: $gray-border;
    padding: 1em;
    border-radius: 3px;
    width: 400px;
    z-index: 1000;
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    h4 {
        opacity: 0.8;
        font-weight: normal;
        margin-bottom: 1em;
        display: flex;
        justify-content: space-between;
        button {
            border: none;
            background-color: transparent;
            font-size: 1.4rem;
            &:hover {
                color: white;
            }
        }
    }
    p {
        color: white;
        font-size: 0.9rem;
    }
    input {
        margin-top: 10px;
        border-radius: 3px;
        padding: 0.5em;
        background-color: #99aabb;
        border: none;
        width: 100%;
        color: $gray-border;
        &:focus {
            background-color: white;
            color: $bg-black;
            outline: none;
        }
    }
    p:last-of-type {
        margin-top: 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: 4px;
        padding: 0.1em;
        span {
            font-size: 0.8rem;
            font-weight: normal;
            opacity: 0.8;
        }
        &:hover {
            background-color: $green;
            color: white;
        }
    }
}

.gray-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 2px 6px $bg-black;
    background-color: #445566;
    border: none;
    padding: 0.1em;
    font-size: 1.2em;
    width: 25px;
    height: 25px;
    border-top: 1px solid #99aabb;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    font-weight: bold;
}

.gray-btn.remove {
    top: 0;
    right: 0;
    left: 100%;
    width: 15px;
    height: 15px;
    font-size: 0.8rem;
    display: none;
    &:hover {
        background-color: $orange;
    }
}

.search-favorite,
.blanket {
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
    &.open {
        opacity: 1;
        pointer-events: all;
    }
}

.profile-nav {
    border-radius: 4px;
    margin-top: 4em;
    border: 1px solid #99aabb11;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    &:hover {
        background: #303c48;
        ul li a.active {
            background-color: $gray;
            color: white;
        }
    }
    ul {
        li {
            display: flex;
            margin: -1px 0;
            a {
                position: relative;
                padding: 0.5em 2em;
                text-decoration: none;
                color: $gray-text-secondary;
                font-size: 0.9rem;
                &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    right: -1px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 40%;
                    background-color: #99aabb41;
                }
                &.active {
                    background-color: #24303c;
                    &:after {
                        content: none;
                    }
                }
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}

.following div {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, 55px);
    gap: 10px;
    .profile-picture {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
}

// FIXES THE NAVBAR FOR THE PROFILE SUBPAGES

.user-films,
.user-reviews,
.user-watchlist,
.user-lists,
.user-diary {
    padding-top: 10em;
    width: 80%;
    margin: 0 auto;
    @media screen and (max-width: 992px) {
        width: 90%;
        padding-top: 7em;
    }
    @media screen and (max-width: 768px) {
        width: 95%;
    }
    .wrap-user-nav {
        display: flex;
        justify-content: center;
        border-radius: 3px;
        background-color: #303c48;
        margin-bottom: 4em;
        height: 45px;
        & > div {
            display: flex;
            align-items: center;
            margin-right: 50px;
            padding: 0.5em 0;
            img {
                width: 30px;
                height: 30px;
                object-fit: cover;
            }
            a {
                display: flex;
                align-items: center;
            }
            span {
                font-weight: bold;
                font-size: 1.1rem;
                margin-left: 20px;
            }
        }
        .profile-nav {
            margin: 1px 0;
            border: none;

            &:hover {
                background-color: #303c48;
            }
            a {
                display: flex;
                align-items: center;
            }
        }
    }
}

.user-lists .list a {
    text-decoration: none;
    &:hover {
        color: $blue;
    }
}

// *********** POSTERS ON THE USER FILMS PAGE

.posters-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 70px);
    gap: 20px;
    a {
        text-decoration: none;
    }
    figure {
        height: 100%;
        img {
            max-width: 100%;
            height: 100px;
            object-fit: cover;
            border-radius: 4px;
            border: 1px solid #99aabb4b;
        }
        figcaption {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.like-gray {
    background-image: url('../images/heart-gray-darkbg.png');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 20px;
    height: 20px;
}

// *********** REVIEWS ON THE USER REVIEWS PAGE

.user-reviews .date {
    display: flex;
    align-items: center;
    margin-top: 5px;
    i {
        margin: 0;
        margin-right: 5px;
        height: 15px;
        background-position: left;
    }
}

.reviews-container {
    width: 70%;
}

.user-watchlist {
    h4 {
        color: #99aabb;
        font-weight: normal;
    }
}

.recent-lists {
    a {
        text-decoration: none;
        &:hover h2 {
            color: $blue;
        }
    }
    h2 {
        font-size: 1.2rem;
        span {
            font-size: 0.75rem;
            font-weight: normal;
            opacity: 0.6;
            color: #99aabb;
        }
    }
    .poster-stack {
        margin-bottom: 0;
        .wrapper,
        .placeholder {
            height: 120px;
        }
        img {
            object-fit: cover;
            height: 120px;
        }
    }
}

.display-list {
    padding-top: 10em;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    section {
        width: 70%;
    }
    h4 {
        display: flex;
        align-items: center;
        font-weight: normal;
        opacity: 1;
        font-size: 0.8rem;
        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            margin-right: 10px;
        }
        a {
            text-decoration: none;
            font-weight: bold;
            margin-left: 5px;
            font-size: 1rem;
        }
    }
    h2 {
        margin: 1em 0;
    }
    .posters-container {
        grid-template-columns: repeat(6, minmax(80px, 1fr));
        img {
            width: 100%;
            border-radius: 4px;
            border: 1px solid #c6cdd450;
            height: 100%;
            object-fit: cover;
        }
    }
    .description {
        margin-bottom: 2em;
    }
    .percentage {
        border: 1px solid #c6cdd421;
        padding: 1em;
        position: relative;
        width: 15%;
        min-width: 230px;
        .blue-bar,
        .grey-bar {
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .grey-bar {
            background-color: $gray-border;
        }
        .blue-bar {
            background-color: $blue;
            z-index: 10;
        }
        & > div:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.9rem;
            p {
                color: $gray-text-secondary;
            }
            p:first-child {
                width: min-content;
            }
            span {
                font-size: 1.7rem;
                color: $gray-text-secondary;
            }
        }
    }
}

.watchlist-posters-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 2em;
    gap: 20px;
    & > div {
        position: relative;
        &:hover span {
            opacity: 1;
        }
    }
    img {
        max-width: 100%;
        border-radius: 3px;
        border: 1px solid #99aabb4b;
        cursor: pointer;
    }
    span {
        position: absolute;
        display: inline-block;
        width: max-content;
        border-radius: 3px;
        top: -5px;
        left: 50%;
        transform: translate(-50%, -100%);
        background-color: $gray-border;
        font-size: 0.7rem;
        padding: 0.2em 0.4em;
        color: #c6cdd4;
        transition: opacity 250ms ease;
        opacity: 0;
        &:after {
            content: '';
            width: 10px;
            height: 10px;
            background-color: $gray-border;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%) rotate(230deg);
        }
    }
}

.user-diary {
    article {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        margin-bottom: 1em;
        padding: 0.5em 0;
        border-bottom: 1px solid #99aabb1a;
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            color: $gray-text-secondary;
            opacity: 0.9;
        }
    }
    article:first-of-type {
        p {
            color: $gray-text-secondary;
            opacity: 0.6;
            border-top: 1px solid #99aabb52;
            padding: 1em 0 0.2em 0;
            text-align: center;
            font-size: 0.7rem;
        }
        p:nth-child(3) {
            grid-column: span 4;
            text-align: left;
        }
    }
    p.day {
        font-size: 1.5rem;
        opacity: 0.5;
        color: $gray-text-secondary;
    }
    p.month {
        display: flex;
        flex-direction: column;

        span:first-of-type {
            font-size: 1.3rem;
            color: $gray-text-secondary;
            opacity: 0.5;
        }
        span:last-of-type {
            font-size: 0.6rem;
            opacity: 0.4;
        }
    }
    figure {
        grid-column: span 4;
        display: flex;
        img {
            width: 35px;
            height: 50px;
            object-fit: cover;
            border-radius: 4px;
            border: 1px solid #99aabb52;
        }
        figcaption {
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 1.2rem;
            margin-left: 10px;
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
    i {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0;
        height: 100%;
    }
    p {
        position: relative;
    }
    i.not-liked,
    i.liked,
    .review i,
    .edit i,
    .rewatch i {
        max-width: 25px;
        max-height: 25px;
        left: 50%;
        transform: translate(-50%);
    }
    i.not-liked {
        background-image: url('../images/heart-gray-darkbg.png');
    }
    i.liked {
        background-image: url('../images/heart-yellow-darkbg.png');
    }
    .review {
        a {
            height: 100%;
            display: flex;
            align-items: center;
            &:hover span {
                opacity: 1;
            }
        }
        span {
            position: absolute;
            font-size: 0.7rem;
            width: max-content;
            transform: translate(-50%);
            top: -10px;
            opacity: 0;
            background-color: $gray-border;
            padding: 0.2em 0.5em;
            border-radius: 4px;
        }
        i {
            background-image: url('../images/review.png');
        }
    }
    .edit i {
        background-image: url('../images/edit.png');
        cursor: pointer;
    }
    .rewatch i {
        background-image: url('../images/rewatch.png');
    }
}

.poster-stack {
    margin: 2em 0 1em 0;
    display: flex;
    width: 100%;
    height: 130px;
    .wrapper:first-of-type {
        margin-left: 0;
    }
    .wrapper,
    .placeholder {
        width: 30%;
        margin-left: -25px;
        box-shadow: 0 2px 6px $bg-black;
    }
    img,
    .placeholder {
        right: 20px;
        max-width: 100%;
        border: 1px solid #99aabb4b;
        border-radius: 3px;
    }
    .placeholder {
        background-color: #111111;
    }
}

@for $i from 0 to 6 {
    .wrapper-#{$i},
    .placeholder-#{$i} {
        z-index: calc(1 - #{$i});
    }
}

@media screen and (max-width: 1200px) {
    section.settings,
    .display-list {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .profile-page {
        width: 90%;
        padding-top: 7em;
    }
    section.settings,
    .display-list {
        width: 95%;
        padding-top: 8em;
    }
}

@media screen and (max-width: 900px) {
    section.settings {
        .container {
            flex-direction: column;
            position: relative;
            .profile-form {
                margin: 0 auto;
                width: 70%;
                min-width: 360px;
                label[for='username'] {
                    justify-content: flex-start;
                    span {
                        margin-left: 10px;
                    }
                }
                input[name='username'] {
                    max-width: 200px;
                }
                textarea {
                    height: 150px;
                }
                & > .green-btn {
                    position: absolute;
                    bottom: -45px;
                    left: 50%;
                    transform: translate(-50%);
                }
            }
            .edit-favorites {
                margin: 0 auto;
                width: 70%;
                min-width: 360px;
                max-width: none;
            }
        }
    }
    .search-favorite {
        width: 340px;
    }
}

@media screen and (max-width: 768px) {
    .profile-page {
        width: 95%;
        .user-info {
            flex-direction: column;
            .stats {
                margin: 0 auto;
            }
            .username {
                margin: 1em 0;
            }
        }
        .container {
            flex-direction: column;
            .left-col,
            .right-col {
                width: 100%;
                margin: 0 auto;
            }
        }
        .bio,
        .following {
            margin-top: 2em;
        }
        .watchlist-peek {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            .poster-stack {
                margin: 0;
                height: auto;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            h4 {
                width: 100%;
            }
            a {
                max-width: 500px;
                display: inline-block;
                margin: 3em auto;
            }
        }
        .recent-lists {
            h4 {
                margin-bottom: 2em;
            }
            .poster-stack,
            h2 {
                max-width: 500px;
                margin: 0 auto;
                .wrapper {
                    width: auto;
                }
                .placeholder {
                    display: none;
                }
            }
        }
    }
    .user-diary {
        article {
            grid-template-columns: repeat(9, 1fr);
            p:nth-child(4),
            .rewatch {
                display: none;
            }
            img {
                width: 30px;
            }
            figcaption {
                font-size: 1rem;
            }
            p.day,
            p.month span:first-of-type {
                font-size: 0.9rem !important;
            }
        }
        article:first-of-type {
            p {
                font-size: 0.6rem;
            }
            p:last-child {
                display: none;
            }
        }
    }
    .reviews-container {
        width: 95%;
    }
    .watchlist-posters-container {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }
    section.settings .edit-favorites {
        .posters {
            flex-wrap: wrap;
        }
        .add {
            min-height: 130px;
        }
    }
    .user-lists .container {
        flex-direction: column;
        & > button {
            order: -1;
            margin: 0 0 2em 0 !important;
        }
    }
    .display-list {
        flex-direction: column;
        & > section {
            width: 100%;
        }
        .posters-container {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
        .percentage {
            margin-top: 4em;
        }
    }
}

.log {
    position: relative;
    .results {
        width: 300px;
        position: absolute;
        left: -100%;
        margin-top: 1.5em;
        box-shadow: 0 2px 8px $bg-black;
        p {
            background-color: $gray-border;
            border-bottom: 1px solid #c6cdd43d;
            padding: 0.6em 0.4em;
            color: white;
            &:hover {
                background-color: $green;
            }
            span {
                color: white;
                font-size: 0.7rem;
            }
            span:last-child {
                font-size: 0.5rem;
            }
        }
        a:first-child p {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        a:last-child p {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }
}

@media screen and (max-width: 576px) {
    .profile-page .watchlist-peek {
        a {
            margin: 2em auto;
        }
    }
    .user-films .posters-container {
        justify-content: center;
    }
    .wrap-user-nav > div {
        margin-right: 15px !important;
        img {
            margin-left: 5px;
        }
        span {
            margin-left: 10px !important;
        }
    }
    .list {
        flex-direction: column;
        justify-content: center;
        & > div {
            margin: 0 !important;
        }
    }
}
