.review-page {
    margin-top: 0;
    padding-top: 10em;
    figure {
        width: 150px;
        margin-right: 40px;
        img {
            width: 100%;
            border-radius: 4px;
            border: 1px solid $gray;
        }
    }
    & > div {
        article {
            flex: 1;
        }
        .user-info {
            display: flex;
            align-items: center;
            border-bottom: 1px solid $gray-border;
            .profile-picture {
                width: 30px;
            }
            a {
                margin-right: 20px;
                text-decoration: none;
            }
        }
        .movie-title {
            padding: 0.6em 0;
            display: flex;
            align-items: baseline;
            span {
                font-size: 0.9rem;
                font-weight: normal;
                opacity: 0.8;
                margin-left: 10px;
            }
            .stars {
                height: 30px;
                align-self: center;
            }
        }
        .content {
            padding: 2em 0;
            opacity: 0.8;
        }
        .date-watched {
            font-size: 0.8rem;
            opacity: 0.4;
            color: $gray-text-secondary;
        }
        .like-review-btn {
            align-self: flex-start;
            border: none;
        }
    }
}

.comment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 4em;
    textarea {
        width: 60%;
        margin-top: 1em;
        background-color: #2c3440;
        border-radius: 4px;
        border: none;
        border-bottom: 1px solid #445566;
        resize: none;
        padding: 0.5em;
        &:focus {
            background-color: rgb(255, 255, 255);
            color: $bg-black;
        }
    }
}

.comments {
    width: 100%;
    margin-top: 4em;
    .comment {
        display: flex;
        padding: 1em 0;
        border-bottom: 1px solid #2c3440;
        a {
            text-decoration: none;
            font-weight: bold;
        }
        .profile-picture {
            width: 30px;
        }
        div {
            display: flex;
            & > div {
                flex-direction: column;
                margin: 0 70px 0 10px;
            }
        }
        p {
            flex: 1;
            opacity: 0.8;
        }
        .date {
            font-size: 0.6rem;
            opacity: 0.6;
        }
    }
}

.review-page {
    i[data-rating='5'] {
        width: 70px;
    }
    i[data-rating='4.5'] {
        width: 65px;
    }
    i[data-rating='4'] {
        width: 60px;
    }
    i[data-rating='3.5'] {
        width: 55px;
    }
    i[data-rating='3'] {
        width: 50px;
    }
    i[data-rating='2.5'] {
        width: 45px;
    }
    i[data-rating='2'] {
        width: 40px;
    }
    i[data-rating='1.5'] {
        width: 35px;
    }
    i[data-rating='1'] {
        width: 25px;
    }
    i[data-rating='0.5'] {
        width: 20px;
    }
}
