$bg-black: #14181c;
$green: #00c030;
$blue: #40bcf4;
$darker-green: #01a52a;
$gray: #717f8e;
$gray-border: #445566;
$gray-text: #d8e0e8;
$gray-text-secondary: #99aabb;
$orange: #ff9010;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $gray-text;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}
button {
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
}

body {
    background-color: $bg-black;
    padding-bottom: 4em;
}

#root {
    width: 80%;
    margin: 0 auto;
}

@import './partials/film-page';
@import './partials/review_page';
@import './partials/profile-page';
@import './partials/lists-page';

// HEADER

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    width: 80%;
    position: absolute;
    padding-top: 1em;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(20, 24, 28, 0.82) 100%);
    .app-name {
        font-size: 2.5rem;
        a {
            text-decoration: none;
        }
    }
    button {
        border: none;
        background-color: transparent;
        font-weight: bold;
        &:hover {
            color: white;
        }
    }
    ul {
        align-items: center;
        li,
        button {
            margin: 0 10px;
            padding: 0.3em 0.6em;
            margin: 0;
            font-size: 0.9rem;
            font-weight: bold;
            text-transform: uppercase;
            a {
                text-decoration: none;
                &:hover {
                    color: white;
                }
            }
        }
        li.log button {
            background: $green;
            color: white;
            border-radius: 4px;
            margin: 0;
            &:hover {
                background-color: $darker-green;
            }
        }
    }
    .has-dropdown {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 2em;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        &:hover {
            background-color: $gray;
            border-top: 1px solid rgba(255, 255, 255, 0.568);
            color: white;
            ul {
                display: flex;
            }
        }
        img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
            object-fit: cover;
        }
        ul {
            position: absolute;
            display: none;
            left: 0;
            right: 0;
            top: 100%;
            flex-direction: column;
            background-color: $gray;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            box-shadow: 0 8px 8px $bg-black;
            li a,
            button {
                color: $bg-black;
                font-weight: normal;
                font-size: 0.8rem;
                width: 100%;
                display: flex;
                text-transform: none;
                padding: 0.5em 0.8em;
            }
            li,
            button {
                width: 100%;
                margin: 0;
                padding: 0;
                &:hover {
                    color: white;
                    background-color: #445566;
                    a {
                        color: white;
                    }
                }
            }
            .settings,
            li:first-of-type {
                border-top: 1px solid #14181c27;
            }
        }
        .sign-out {
            padding: 0.5em 0.8em;
        }
    }
}

.most-popular {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
    margin-bottom: 1em;
    .taglines {
        position: absolute;
        bottom: 8%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        p {
            text-align: center;
            font-weight: bold;
            color: white;
            font-size: 2.5rem;
        }
        button {
            margin: 20px auto 0 auto;
            color: white;
        }
    }
}

figure.backdrop {
    z-index: -10;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(
                90deg,
                #14181d 0,
                rgba(20, 24, 29, 0.98556487) 0.97%,
                rgba(20, 24, 29, 0.9451312) 2.07833333%,
                rgba(20, 24, 29, 0.88300656) 3.29666667%,
                rgba(20, 24, 29, 0.80349854) 4.60166667%,
                rgba(20, 24, 29, 0.71091472) 5.96666667%,
                rgba(20, 24, 29, 0.60956268) 7.365%,
                rgba(20, 24, 29, 0.50375) 8.77166667%,
                rgba(20, 24, 29, 0.39778426) 10.16%,
                rgba(20, 24, 29, 0.29597303) 11.505%,
                rgba(20, 24, 29, 0.20262391) 12.78%,
                rgba(20, 24, 29, 0.12204446) 13.95833333%,
                rgba(20, 24, 29, 0.05854227) 15.01666667%,
                rgba(20, 24, 29, 0.01642493) 15.92833333%,
                rgba(20, 24, 29, 0) 16.66666667%,
                rgba(20, 24, 29, 0) 83.33333333%,
                rgba(20, 24, 29, 0.01642493) 84.07166667%,
                rgba(20, 24, 29, 0.05854227) 84.98333333%,
                rgba(20, 24, 29, 0.12204446) 86.04166667%,
                rgba(20, 24, 29, 0.20262391) 87.22%,
                rgba(20, 24, 29, 0.29597303) 88.495%,
                rgba(20, 24, 29, 0.39778426) 89.84%,
                rgba(20, 24, 29, 0.50375) 91.22833333%,
                rgba(20, 24, 29, 0.60956268) 92.635%,
                rgba(20, 24, 29, 0.71091472) 94.03333333%,
                rgba(20, 24, 29, 0.80349854) 95.39833333%,
                rgba(20, 24, 29, 0.88300656) 96.70333333%,
                rgba(20, 24, 29, 0.9451312) 97.92166667%,
                rgba(20, 24, 29, 0.98556487) 99.03%,
                #14181d
            ),
            linear-gradient(
                0deg,
                #14181d 0,
                #14181d 21.48148148%,
                rgba(20, 24, 29, 0.98556487) 23.63703704%,
                rgba(20, 24, 29, 0.9451312) 26.1%,
                rgba(20, 24, 29, 0.88300656) 28.80740741%,
                rgba(20, 24, 29, 0.80349854) 31.70740741%,
                rgba(20, 24, 29, 0.71091472) 34.74074074%,
                rgba(20, 24, 29, 0.60956268) 37.84814815%,
                rgba(20, 24, 29, 0.50375) 40.97407407%,
                rgba(20, 24, 29, 0.39778426) 44.05925926%,
                rgba(20, 24, 29, 0.29597303) 47.04814815%,
                rgba(20, 24, 29, 0.20262391) 49.88148148%,
                rgba(20, 24, 29, 0.12204446) 52.5%,
                rgba(20, 24, 29, 0.05854227) 54.85185185%,
                rgba(20, 24, 29, 0.01642493) 56.87777778%,
                rgba(20, 24, 29, 0) 58.51851852%
            );
    }
    img {
        max-width: 100%;
    }
    figcaption {
        position: absolute;
        top: 50%;
        right: -5%;
        transform: rotate(-90deg);
        color: $gray;
        z-index: 10;
        letter-spacing: 1px;
        font-size: 0.8rem;
        opacity: 0.8;
    }
}

.input-styling {
    background-color: #2c3440;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);
    border-radius: 3px;
    width: 100%;
    resize: none;
    margin-bottom: 2em;
    padding: 0.5em;
    color: #99aabb;
    &:focus {
        background-color: white;
        color: $bg-black;
        outline: none;
    }
}

.sign-in-btn {
    margin-top: 2em;
    margin-left: auto;
    width: auto !important;
    flex: 1;
    justify-content: center !important;
    button {
        display: block;
        margin: 0 auto;
        background-color: $gray-border;
        border-radius: 4px;
        border: none;
        padding: 0.5em;
        &:hover {
            color: white;
        }
    }
}

.sign-in-form {
    position: absolute;
    right: 10%;
    top: 0;
    padding: 0.8em 0.6em;
    display: flex;
    box-shadow: 0 2px 8px $bg-black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
    border-radius: 4px;
    background-color: $bg-black;
    .container {
        display: flex;
        align-items: flex-end;
        label {
            opacity: 0.6;
            font-size: 0.75rem;
            margin-bottom: 5px;
        }
        input {
            border-radius: 4px;
            padding: 0.3em 0.5em;
            border: none;
            background-color: $gray-border;
            &:focus {
                color: $bg-black;
                background-color: white;
            }
        }
    }
    button.close-form {
        opacity: 0.6;
        margin-right: 10px;
        &:hover {
            opacity: 1;
        }
    }
    div:not(.container) {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
    button:last-of-type {
        @extend .green-btn;
        color: white;
    }
    & > p {
        position: absolute;
        bottom: 0;
        left: 1px;
        width: 98%;
        background-color: $orange;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: white;
        padding: 0.4em;
        text-align: center;
        z-index: -10;
        transition: transform 250ms ease;
    }
    & > p.error {
        transform: translateY(100%);
    }
}

.sign-in-form.open,
.create-acc.open {
    opacity: 1;
    pointer-events: all;
}

.popular {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    img {
        width: 150px;
        border: 1px solid $gray-border;
        cursor: pointer;
        border-radius: 4px;
    }
}

.latest-reviews > p,
.popular > p {
    width: 100%;
    color: $gray-text-secondary;
    padding: 0.4em 0;
    margin: 1em 0 2em 0;
    border-bottom: 1px solid $gray-border;
    font-size: 0.9rem;
}

.latest-reviews {
    padding: 2em 0;
    width: 90%;
    margin: 0 auto;
    article {
        display: flex;
        justify-content: space-between;
        a {
            width: 8.5%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
            border: 1px solid $gray-border;
            cursor: pointer;
        }
    }
}

.search-movie-modal {
    position: absolute;
    top: 50%;
    width: 700px;
    transform: translate(50%, -50%);
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: $gray-border;
    z-index: 20;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
    &.open {
        opacity: 1;
        pointer-events: all;
        z-index: 100;
    }
    p {
        width: 100%;
        color: $gray-text;
    }
    p:first-of-type {
        margin-bottom: 1em;
        opacity: 0.6;
        display: flex;
        justify-content: space-between;
        button {
            background-color: transparent;
            border: none;
            font-size: 1.3rem;
            &:hover {
                color: white;
            }
        }
    }
    label {
        width: 100%;
        margin-bottom: 10px;
    }
    input {
        width: 100%;
        padding: 0.4em;
        font-size: 1.05rem;
        color: $gray-border;
        border: none;
        border-radius: 4px;
        background-color: $gray-text;
        &:focus {
            background-color: white;
        }
    }
    p:last-child {
        margin-top: 1.5em;
        padding: 0.4em 0;
        cursor: pointer;
        font-size: 1.1rem;
        border-radius: 4px;
        &:hover {
            background-color: $green;
        }
        span {
            font-size: 0.8rem;
            opacity: 0.6;
        }
    }
}

.green-btn {
    background: $green;
    padding: 0.3em 0.7em;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin: 10px 0 0 auto;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.582);
    &:hover {
        background: $darker-green;
    }
}

.h4-subtitle {
    font-size: 0.8rem;
    width: 100%;
    padding: 0.6em 0;
    border-bottom: 1px solid #445566;
    opacity: 0.6;
    letter-spacing: 1px;
}

.add-new-review {
    display: flex;
    justify-content: space-around;
    width: 100%;

    figure {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
        button {
            background-color: $gray;
            border: none;
            padding: 0.5em;
            position: relative;
            font-size: 0.7rem;
            border-radius: 4px;
            &:after {
                content: '';
                position: absolute;
                left: -30px;
                clip-path: polygon(50% 58%, 0% 100%, 100% 100%);
                background-color: $gray;
                width: 20px;
                height: 100%;
                bottom: 0;
                transform: rotate(-90deg);
            }
        }
        img {
            border-radius: 4px;
            margin-top: 1.5em;
            max-width: 150px;
            box-shadow: 0 0 8px $bg-black;
        }
    }
    article {
        width: 70%;
        h3 {
            font-size: 1.5rem;
            color: white;
            span {
                font-weight: normal;
                color: $gray-text;
                opacity: 0.6;
                font-size: 1rem;
            }
        }
        form {
            display: flex;
            flex-wrap: wrap;
            textarea {
                margin: 15px 0;
                resize: none;
                width: 100%;
                color: $gray-border;
                background-color: #ccddee;
                border: none;
                padding: 0.5em;
                border-radius: 4px;
                &:focus {
                    background-color: white;
                }
            }
            .like,
            .rating {
                width: 49%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;
                input {
                    width: auto;
                }
                input[type='radio'] {
                    z-index: 10;
                    position: relative;
                    opacity: 0;
                    height: 100%;
                }
            }
            .rating {
                label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                span {
                    font-size: 0.7rem;
                }
                & > div {
                    position: relative;
                    align-self: center;
                    @for $i from 1 to 11 {
                        input:nth-child(#{$i}):hover ~ i.blue-stars {
                            width: calc(#{$i} * 13px);
                        }
                    }
                    input:hover ~ .green-stars {
                        display: none;
                    }
                    i {
                        position: absolute;
                        display: inline-block;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                    }
                    .grey-stars {
                        background-image: url('../images/5-gray-stars.png');
                    }
                    .blue-stars {
                        width: 0;
                        background-image: url('../images/5-blue-stars.png');
                    }
                    @for $i from 1 to 11 {
                        .green-stars[data-value='#{$i}'] {
                            background-image: url('../images/5-green-stars.png');
                            width: calc(#{$i} * 13px);
                        }
                    }
                }
            }
            .like {
                input {
                    padding: 20px;
                    width: 30px;
                    height: 30px;
                    opacity: 0;
                    z-index: 100;
                    &:hover + .not-liked:not(.actually-liked) {
                        background-image: url('../images/review-hover-like.png');
                    }
                }
                .not-liked {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    background-image: url('../images/review-gray-like.png');
                    background-position: center;
                    background-repeat: no-repeat;

                    &.actually-liked {
                        background-image: url('../images/review-orange-like.png');
                    }
                }
            }
            button {
                @extend .green-btn;
                color: white;
                margin-top: 2em;
            }
        }
    }
}

.date {
    margin: 1em 0;
    width: 100%;
    display: flex;
    .date-picker {
        display: flex;
        align-items: center;
        position: relative;
    }
    label {
        margin: 0 10px;
        font-size: 0.8rem;
        width: max-content;
    }
    input[type='checkbox'] {
        order: -1;
        height: 20px;
        width: 20px;
        z-index: 10;
        opacity: 0;
        &:hover ~ .box {
            background-color: white;
        }
        &:checked ~ .box:after,
        &:checked ~ .box:before {
            content: '';
        }
    }
    input[type='date'] {
        padding: 0;
        width: auto;
        font-size: 0.9rem;
        background-color: #556677;
        color: white;
        cursor: pointer;
    }
    .box {
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 4px;
        background-color: #ccddee;
        &:after,
        &:before {
            height: 2px;
            background-color: #14181cb4;
            position: absolute;
            width: 70%;
            bottom: 47%;
            left: 3px;
        }
        &:after {
            transform: rotate(130deg);
        }
        &:before {
            transform: rotate(-130deg);
        }
    }
    .first-watch {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
}

// *************** PEOPLE PAGE***********//

.people {
    padding-top: 10em;
    width: 80%;
    margin: 0 auto;
    h4 {
        color: $gray-text-secondary;
        opacity: 1;
    }
}

.grid-container {
    article:first-of-type {
        padding-top: 0.5em;
        border-bottom: none;
        p {
            font-size: 0.7rem;
            padding-bottom: 0.5em;
            opacity: 0.6;
            border-bottom: 1px solid rgba(255, 255, 255, 0.205);
            color: $gray-text-secondary;
            text-align: center;
        }
        p:first-of-type {
            text-align: left;
        }
    }
    article {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        padding: 1em 0;
        border-bottom: 1px solid #99aabb2a;
        figure {
            display: flex;
            img {
                margin-right: 20px;
            }
            figcaption {
                a {
                    text-decoration: none;
                }
                .username {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: white;
                    &:hover {
                        color: $blue;
                    }
                }
                .reviews-number {
                    font-size: 0.75rem;
                    opacity: 0.7;
                    color: $gray-text-secondary;
                    &:hover {
                        color: white;
                        opacity: 1;
                    }
                }
            }
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.9rem;
            color: $gray-text-secondary;
            i {
                display: inline-block;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-right: 10px;
            }
        }
        .watched i {
            background-image: url('../images/transparent-watched.png');
        }
        .following i {
            background-image: url('../images/blue-squares.png');
            width: 15px;
            height: 15px;
        }
        .followers i {
            width: 15px;
            height: 15px;
            background-image: url('../images/transparent-liked.png');
        }
    }
}

.notification {
    padding: 1em;
    color: white;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 20;
    width: 400px;
    border-radius: 4px;
    box-shadow: 0 2px 8px $bg-black;
    font-weight: bold;
    transform: scaleY(0);
    transition: transform 250ms ease;
    transform-origin: top;
    &.success {
        background-color: $green;
        transform: scaleY(1);
        transition: transform 250ms ease;
    }
    &.warning {
        transform: scaleY(1);
        background-color: $orange;
        transition: transform 250ms ease;
    }
}

.create-acc {
    z-index: 100;
    background-color: $gray-border;
    padding: 2em;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    width: 400px;
    h4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1.2rem;
            &:hover {
                color: white;
            }
        }
    }
    .username,
    .password,
    .confirm-password {
        display: flex;
        flex-direction: column;
    }
    input {
        @extend .input-styling;
        background-color: #ccddee;
        color: $gray-border;
        &:invalid {
            border: none;
            box-shadow: none;
        }
    }
    button {
        color: white;
    }
}

// PICK FAVORITE FORM

#portal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.blanket {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
