* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #d8e0e8;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  background-color: #14181c;
  padding-bottom: 4em;
}

#root {
  width: 80%;
  margin: 0 auto;
}

.film-page,
.review-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  width: 90%;
  margin-top: -11em;
}

.film-page figure.poster,
.review-page figure.poster {
  width: 23%;
  max-width: 250px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.film-page figure.poster img,
.review-page figure.poster img {
  max-width: 100%;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid #445566;
}

.film-page figure.poster figcaption,
.review-page figure.poster figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.film-page figure.poster figcaption i,
.review-page figure.poster figcaption i {
  width: 30px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.film-page figure.poster figcaption i.watches,
.review-page figure.poster figcaption i.watches {
  background-image: url("../images/watched-darkbg.png");
}

.film-page figure.poster figcaption i.likes,
.review-page figure.poster figcaption i.likes {
  background-image: url("../images/heart-yellow-darkbg.png");
}

.film-page figure.poster figcaption > div,
.review-page figure.poster figcaption > div {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.film-page figure.poster figcaption > div:hover .description,
.review-page figure.poster figcaption > div:hover .description {
  opacity: 1;
}

.film-page figure.poster figcaption span:first-of-type,
.review-page figure.poster figcaption span:first-of-type {
  font-size: 0.8rem;
}

.film-page figure.poster figcaption .description,
.review-page figure.poster figcaption .description {
  font-size: 0.65rem;
  position: absolute;
  border-radius: 4px;
  background-color: #445566;
  padding: 0.5em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 0;
  top: -30px;
  opacity: 0;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.film-page > div,
.film-page > article,
.review-page > div,
.review-page > article {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.film-page > div div:last-child button,
.film-page > article div:last-child button,
.review-page > div div:last-child button,
.review-page > article div:last-child button {
  background-color: #445566;
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 0.8rem;
}

.film-page > div div:last-child button:hover,
.film-page > article div:last-child button:hover,
.review-page > div div:last-child button:hover,
.review-page > article div:last-child button:hover {
  color: white;
}

.details {
  max-width: 400px;
}

.details .title {
  padding-bottom: 2em;
  font-size: 1.8rem;
}

.details .title span:not(.director) {
  font-size: 1rem;
  opacity: 0.6;
}

.details .title .director {
  margin-top: 1em;
  display: block;
  font-size: 0.8rem;
  font-weight: normal;
  opacity: 0.8;
  color: #99aabb;
}

.details p {
  color: #99aabb;
}

.details .meta {
  font-size: 0.7rem;
  margin-top: 3em;
}

.film-actions {
  background-color: #445566;
  border-radius: 4px;
  width: 260px;
  padding: 1em 0 0 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.film-actions > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
}

.film-actions button {
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 70px;
}

.film-actions button img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}

.film-actions button p {
  position: relative;
}

.film-actions button:hover p.marked {
  color: transparent;
}

.film-actions button:hover p.marked:after {
  content: 'Remove';
  color: #d8e0e8;
  position: absolute;
  width: 100%;
  left: 0;
}

.film-actions button:hover,
.film-actions button p:hover {
  color: white;
}

.film-actions button.review {
  min-width: 100%;
  border-top: 1px solid #14181c;
  margin-top: 2em;
  padding: 1.5em 1em;
}

.reviews {
  width: 100%;
  margin-top: 4em;
}

.reviews a {
  text-decoration: none;
}

.reviews > h4 {
  font-size: 0.9rem;
  padding: 0.5em 0;
  color: #99aabb;
  border-bottom: 1px solid #44556696;
  font-weight: normal;
}

.reviews .review {
  padding: 2em 0;
  border-bottom: 1px solid #44556696;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews .review > div {
  margin-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reviews .review > div .content {
  padding: 1em 0;
  opacity: 0.8;
}

.like-review-btn {
  background-color: transparent !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  opacity: 0.8;
  padding: 0.5em 0;
}

.like-review-btn img {
  width: 25px;
  height: 25px;
  margin-top: -5px;
  margin-right: 5px;
}

.like-review-btn span {
  font-weight: normal;
  margin-left: 10px;
  opacity: 0.6;
}

.profile-picture {
  border-radius: 50%;
  border: 1px solid #99aabb;
  -webkit-transition: border 250ms ease;
  transition: border 250ms ease;
  width: 45px;
}

.profile-picture:hover {
  border: 1px solid #d8e0e8;
}

.user {
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user span {
  font-weight: normal;
  font-size: 0.8rem;
  color: #99aabb;
  margin-right: 10px;
}

i.comments-number {
  background-image: url("../images/comment-bubble.png");
  background-repeat: no-repeat;
  margin-left: 10px;
  width: 30px;
  height: 15px;
  background-position: center;
}

i.stars {
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  margin: 0 1em;
}

i[data-rating='5'] {
  background-image: url("../images/5-stars.png");
  width: 60px;
}

i[data-rating='4.5'] {
  background-image: url("../images/4.5-stars.png");
  width: 55px;
}

i[data-rating='4'] {
  background-image: url("../images/4-stars.png");
  width: 50px;
}

i[data-rating='3.5'] {
  background-image: url("../images/3.5-stars.png");
  width: 45px;
}

i[data-rating='3'] {
  background-image: url("../images/3-stars.png");
  width: 40px;
}

i[data-rating='2.5'] {
  background-image: url("../images/2.5-stars.png");
  width: 35px;
}

i[data-rating='2'] {
  background-image: url("../images/2-stars.png");
  width: 30px;
}

i[data-rating='1.5'] {
  background-image: url("../images/1.5-stars.png");
  width: 25px;
}

i[data-rating='1'] {
  background-image: url("../images/1-stars.png");
  width: 20px;
}

i[data-rating='0.5'] {
  background-image: url("../images/0.5-stars.png");
  width: 15px;
}

.review-page {
  margin-top: 0;
  padding-top: 10em;
}

.review-page figure {
  width: 150px;
  margin-right: 40px;
}

.review-page figure img {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #717f8e;
}

.review-page > div article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.review-page > div .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #445566;
}

.review-page > div .user-info .profile-picture {
  width: 30px;
}

.review-page > div .user-info a {
  margin-right: 20px;
  text-decoration: none;
}

.review-page > div .movie-title {
  padding: 0.6em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.review-page > div .movie-title a {
  text-decoration: none;
}

.review-page > div .movie-title a:hover {
  color: #40bcf4;
}

.review-page > div .movie-title span {
  font-size: 0.9rem;
  font-weight: normal;
  opacity: 0.8;
  margin-left: 10px;
}

.review-page > div .movie-title .stars {
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.review-page > div .content {
  padding: 2em 0;
  opacity: 0.8;
}

.review-page > div .date-watched {
  font-size: 0.8rem;
  opacity: 0.4;
  color: #99aabb;
}

.review-page > div .like-review-btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: none;
}

.review-page > div .sign-in-btn {
  min-width: 100%;
  margin-top: 5em;
}

.review-page .sign-in-btn button {
  margin: 0;
}

.comment-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 4em;
}

.comment-form textarea {
  width: 60%;
  margin-top: 1em;
  background-color: #2c3440;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid #445566;
  resize: none;
  padding: 0.5em;
}

.comment-form textarea:focus {
  background-color: white;
  color: #14181c;
}

.comments {
  width: 100%;
  margin-top: 4em;
}

.comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0 2em 0;
  border-bottom: 1px solid #2c3440;
}

.comments .comment a {
  text-decoration: none;
  font-weight: bold;
}

.comments .comment .profile-picture {
  width: 30px;
}

.comments .comment div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments .comment div > div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 70px 0 10px;
}

.comments .comment p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: 0.8;
}

.comments .comment .date {
  font-size: 0.6rem;
  opacity: 0.6;
}

.review-page i[data-rating='5'],
.user-reviews i[data-rating='5'] {
  width: 70px;
}

.review-page i[data-rating='4.5'],
.user-reviews i[data-rating='4.5'] {
  width: 65px;
}

.review-page i[data-rating='4'],
.user-reviews i[data-rating='4'] {
  width: 60px;
}

.review-page i[data-rating='3.5'],
.user-reviews i[data-rating='3.5'] {
  width: 55px;
}

.review-page i[data-rating='3'],
.user-reviews i[data-rating='3'] {
  width: 50px;
}

.review-page i[data-rating='2.5'],
.user-reviews i[data-rating='2.5'] {
  width: 45px;
}

.review-page i[data-rating='2'],
.user-reviews i[data-rating='2'] {
  width: 40px;
}

.review-page i[data-rating='1.5'],
.user-reviews i[data-rating='1.5'] {
  width: 35px;
}

.review-page i[data-rating='1'],
.user-reviews i[data-rating='1'] {
  width: 25px;
}

.review-page i[data-rating='0.5'],
.user-reviews i[data-rating='0.5'] {
  width: 20px;
}

.profile-page {
  padding-top: 11em;
  margin: 0 auto;
  width: 85%;
}

.profile-page .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-page .profile-picture {
  width: 100px;
}

.profile-page .username {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-page .username .settings {
  background-color: #445566;
  padding: 0.3em 0.7em;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: bold;
  border-top: 1px solid rgba(255, 255, 255, 0.37);
}

.profile-page .username .settings a {
  text-decoration: none;
}

.profile-page .username .settings a:hover {
  color: white;
}

.profile-page .stats {
  margin-left: auto;
  opacity: 0.8;
}

.profile-page .stats li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #717f8e;
  padding: 0 0.5em;
  font-size: 1.6rem;
}

.profile-page .stats li span {
  color: #99aabb;
  font-size: 0.8rem;
  opacity: 0.6;
}

.profile-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4em 0;
}

.profile-page .container .left-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 60px;
}

.profile-page .container .right-col {
  width: 28%;
  min-width: 250px;
}

.profile-page i.likes {
  background-image: url("../images/heart-yellow-darkbg.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.profile-page h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 1;
  color: #99aabb;
}

.profile-page h4 span {
  color: #99aabb;
  opacity: 0.8;
}

.profile-page .bio p {
  opacity: 0.8;
  margin: 2em 0;
  padding: 1em 0;
}

.void-msg {
  width: 100%;
  text-align: center;
  color: #99aabb;
  margin: 5em 0;
}

.favorite-films {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.favorite-films h4 {
  margin-bottom: 1em;
  width: 100%;
}

.favorite-films a {
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.favorite-films img,
.favorite-films .placeholder {
  width: 24%;
  border-radius: 4px;
  border: 1px solid #717f8e;
  background-color: #111111;
}

.favorite-films img {
  width: 100%;
}

.recent-reviews .review,
.reviews-container .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1em 0 0 0;
  padding-bottom: 2em;
  border-bottom: 1px solid #445566;
}

.recent-reviews .review img,
.reviews-container .review img {
  width: 70px;
  border-radius: 4px;
  border: 1px solid #717f8e;
  margin-right: 20px;
}

.recent-reviews .review div,
.reviews-container .review div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.recent-reviews .review div h2 span,
.reviews-container .review div h2 span {
  font-size: 0.8rem;
  color: #667788;
}

.recent-reviews .review div .date,
.reviews-container .review div .date {
  font-size: 0.8rem;
  color: #667788;
}

.recent-reviews .review div .content,
.reviews-container .review div .content {
  margin: 2em 0;
  opacity: 0.8;
  color: #97abbe;
}

.recent-reviews .review div div:last-child,
.reviews-container .review div div:last-child {
  font-size: 0.8rem;
  opacity: 0.6;
  font-weight: bold;
}

section.settings {
  padding-top: 11em;
  margin: 0 auto;
  width: 80%;
}

section.settings h2 {
  width: 100%;
  padding-bottom: 0.5em;
  margin-bottom: 2em;
  opacity: 0.8;
  border-bottom: 1px solid #445566;
}

section.settings .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.settings .container .profile-form {
  margin-right: 4em;
  width: 40%;
}

section.settings .container .profile-form label:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.settings .container .profile-form label:first-of-type span {
  color: #99aabb;
  font-size: 0.8rem;
  opacity: 0.8;
}

section.settings .container .profile-form label {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5em;
  opacity: 0.8;
  color: #99aabb;
}

section.settings .container .profile-form input,
section.settings .container .profile-form textarea {
  background-color: #2c3440;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.281);
  border-radius: 3px;
  width: 100%;
  resize: none;
  margin-bottom: 2em;
  padding: 0.5em;
  color: #99aabb;
}

section.settings .container .profile-form input:focus,
section.settings .container .profile-form textarea:focus {
  background-color: white;
  color: #14181c;
}

.edit-favorites {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 52%;
  min-width: 400px;
}

.edit-favorites h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #99aabb;
  opacity: 0.8;
}

.edit-favorites h4 span {
  font-size: 0.6rem;
  opacity: 0.5;
}

.edit-favorites .posters {
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edit-favorites .posters .add {
  position: relative;
  border-radius: 3px;
  width: 23%;
  min-width: 80px;
  min-height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #445566;
}

.edit-favorites .posters .add:hover .gray-btn.remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit-favorites .posters .add .placeholder {
  cursor: pointer;
  background-color: #2c3440;
  width: 100%;
  height: 100%;
}

.edit-favorites .posters .add img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: move;
}

.edit-favorites .posters .add:hover .gray-btn {
  opacity: 1;
}

.search-favorite {
  background-color: #445566;
  padding: 1em;
  border-radius: 3px;
  width: 400px;
  z-index: 1000;
}

.search-favorite h4 {
  opacity: 0.8;
  font-weight: normal;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-favorite h4 button {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
}

.search-favorite h4 button:hover {
  color: white;
}

.search-favorite p {
  color: white;
  font-size: 0.9rem;
}

.search-favorite input {
  margin-top: 10px;
  border-radius: 3px;
  padding: 0.5em;
  background-color: #99aabb;
  border: none;
  width: 100%;
  color: #445566;
}

.search-favorite input:focus {
  background-color: white;
  color: #14181c;
}

.search-favorite p:last-of-type {
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 4px;
  padding: 0.1em;
}

.search-favorite p:last-of-type span {
  font-size: 0.8rem;
  font-weight: normal;
  opacity: 0.8;
}

.search-favorite p:last-of-type:hover {
  background-color: #00c030;
  color: white;
}

.gray-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 6px #14181c;
          box-shadow: 0 2px 6px #14181c;
  background-color: #445566;
  border: none;
  padding: 0.1em;
  font-size: 1.2em;
  width: 25px;
  height: 25px;
  border-top: 1px solid #99aabb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.4;
  font-weight: bold;
}

.gray-btn.remove {
  top: 0;
  right: 0;
  left: 100%;
  width: 15px;
  height: 15px;
  font-size: 0.8rem;
  display: none;
}

.gray-btn.remove:hover {
  background-color: #ff9010;
}

.search-favorite,
.blanket {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.search-favorite.open,
.blanket.open {
  opacity: 1;
  pointer-events: all;
}

.profile-nav {
  border-radius: 4px;
  margin-top: 4em;
  border: 1px solid #99aabb11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-nav:hover {
  background: #303c48;
}

.profile-nav:hover ul li a.active {
  background-color: #717f8e;
  color: white;
}

.profile-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -1px 0;
}

.profile-nav ul li a {
  position: relative;
  padding: 0.5em 2em;
  text-decoration: none;
  color: #99aabb;
  font-size: 0.9rem;
}

.profile-nav ul li a:after {
  content: '';
  position: absolute;
  display: inline-block;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 40%;
  background-color: #99aabb41;
}

.profile-nav ul li a.active {
  background-color: #24303c;
}

.profile-nav ul li a.active:after {
  content: none;
}

.profile-nav ul li a:hover {
  color: #40bcf4;
}

.user-films,
.user-reviews,
.user-watchlist {
  padding-top: 10em;
  width: 80%;
  margin: 0 auto;
}

.user-films .wrap-user-nav,
.user-reviews .wrap-user-nav,
.user-watchlist .wrap-user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  background-color: #303c48;
  margin-bottom: 4em;
}

.user-films .wrap-user-nav > div,
.user-reviews .wrap-user-nav > div,
.user-watchlist .wrap-user-nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  padding: 0.5em 0;
}

.user-films .wrap-user-nav > div img,
.user-reviews .wrap-user-nav > div img,
.user-watchlist .wrap-user-nav > div img {
  width: 30px;
  height: 30px;
}

.user-films .wrap-user-nav > div a,
.user-reviews .wrap-user-nav > div a,
.user-watchlist .wrap-user-nav > div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-films .wrap-user-nav > div span,
.user-reviews .wrap-user-nav > div span,
.user-watchlist .wrap-user-nav > div span {
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: 20px;
}

.user-films .wrap-user-nav .profile-nav,
.user-reviews .wrap-user-nav .profile-nav,
.user-watchlist .wrap-user-nav .profile-nav {
  margin: 1px 0;
  border: none;
}

.user-films .wrap-user-nav .profile-nav:hover,
.user-reviews .wrap-user-nav .profile-nav:hover,
.user-watchlist .wrap-user-nav .profile-nav:hover {
  background-color: #303c48;
}

.user-films .wrap-user-nav .profile-nav a,
.user-reviews .wrap-user-nav .profile-nav a,
.user-watchlist .wrap-user-nav .profile-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-films .wrap-user-nav .profile-nav .active:hover,
.user-reviews .wrap-user-nav .profile-nav .active:hover,
.user-watchlist .wrap-user-nav .profile-nav .active:hover {
  background-color: #667788;
}

.posters-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (70px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 70px);
  gap: 20px;
}

.posters-container a {
  text-decoration: none;
}

.posters-container figure img {
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid #99aabb4b;
}

.posters-container figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.like-gray {
  background-image: url("../images/heart-gray-darkbg.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.user-reviews .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.user-reviews .date i {
  margin: 0;
  margin-right: 5px;
  height: 15px;
  background-position: left;
}

.reviews-container {
  width: 70%;
}

.user-watchlist h4 {
  color: #99aabb;
  font-weight: normal;
}

.watchlist-posters-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  margin-top: 2em;
  gap: 20px;
}

.watchlist-posters-container > div {
  position: relative;
}

.watchlist-posters-container > div:hover span {
  opacity: 1;
}

.watchlist-posters-container img {
  max-width: 100%;
  border-radius: 3px;
  border: 1px solid #99aabb4b;
  cursor: pointer;
}

.watchlist-posters-container span {
  position: absolute;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 3px;
  top: -5px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  background-color: #445566;
  font-size: 0.7rem;
  padding: 0.2em 0.4em;
  color: #c6cdd4;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  opacity: 0;
}

.watchlist-posters-container span:after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #445566;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(230deg);
          transform: translateX(-50%) rotate(230deg);
}

.poster-stack {
  margin: 2em 0 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.poster-stack .wrapper:first-of-type {
  margin-left: 0;
}

.poster-stack .wrapper {
  width: 30%;
  margin-left: -25px;
  -webkit-box-shadow: 0 2px 6px #14181c;
          box-shadow: 0 2px 6px #14181c;
}

.poster-stack img {
  right: 20px;
  max-width: 100%;
  border: 1px solid #99aabb4b;
  border-radius: 3px;
}

.wrapper-0 {
  z-index: calc(1 - 0);
}

.wrapper-1 {
  z-index: calc(1 - 1);
}

.wrapper-2 {
  z-index: calc(1 - 2);
}

.wrapper-3 {
  z-index: calc(1 - 3);
}

.wrapper-4 {
  z-index: calc(1 - 4);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  width: 80%;
  position: absolute;
  padding-top: 1em;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, rgba(255, 255, 255, 0)), to(rgba(20, 24, 28, 0.7)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 15%, rgba(20, 24, 28, 0.7) 100%);
}

header > p {
  font-size: 2.5rem;
}

header button {
  border: none;
  background-color: transparent;
  font-weight: bold;
}

header button:hover {
  color: white;
}

header ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  margin: 0 10px;
}

header ul button {
  margin: 0 10px;
}

header ul li.log {
  background: #00c030;
  color: white;
  border-radius: 4px;
}

header ul li.log:hover {
  background-color: #01a52a;
}

header ul li.log button {
  padding: 0.3em 0.6em;
  color: white;
  margin: 0;
  font-size: 0.9rem;
}

.most-popular {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4em;
  margin-bottom: 4em;
}

.most-popular .taglines {
  position: absolute;
  bottom: 8%;
}

.most-popular .taglines p {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 2.5rem;
}

figure.backdrop {
  z-index: -10;
  position: relative;
}

figure.backdrop::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #14181d), color-stop(0.97%, rgba(20, 24, 29, 0.985565)), color-stop(2.07833%, rgba(20, 24, 29, 0.945131)), color-stop(3.29667%, rgba(20, 24, 29, 0.883007)), color-stop(4.60167%, rgba(20, 24, 29, 0.803499)), color-stop(5.96667%, rgba(20, 24, 29, 0.710915)), color-stop(7.365%, rgba(20, 24, 29, 0.609563)), color-stop(8.77167%, rgba(20, 24, 29, 0.50375)), color-stop(10.16%, rgba(20, 24, 29, 0.397784)), color-stop(11.505%, rgba(20, 24, 29, 0.295973)), color-stop(12.78%, rgba(20, 24, 29, 0.202624)), color-stop(13.95833%, rgba(20, 24, 29, 0.122044)), color-stop(15.01667%, rgba(20, 24, 29, 0.0585423)), color-stop(15.92833%, rgba(20, 24, 29, 0.0164249)), color-stop(16.66667%, rgba(20, 24, 29, 0)), color-stop(83.33333%, rgba(20, 24, 29, 0)), color-stop(84.07167%, rgba(20, 24, 29, 0.0164249)), color-stop(84.98333%, rgba(20, 24, 29, 0.0585423)), color-stop(86.04167%, rgba(20, 24, 29, 0.122044)), color-stop(87.22%, rgba(20, 24, 29, 0.202624)), color-stop(88.495%, rgba(20, 24, 29, 0.295973)), color-stop(89.84%, rgba(20, 24, 29, 0.397784)), color-stop(91.22833%, rgba(20, 24, 29, 0.50375)), color-stop(92.635%, rgba(20, 24, 29, 0.609563)), color-stop(94.03333%, rgba(20, 24, 29, 0.710915)), color-stop(95.39833%, rgba(20, 24, 29, 0.803499)), color-stop(96.70333%, rgba(20, 24, 29, 0.883007)), color-stop(97.92167%, rgba(20, 24, 29, 0.945131)), color-stop(99.03%, rgba(20, 24, 29, 0.985565)), to(#14181d)), -webkit-gradient(linear, left bottom, left top, color-stop(0, #14181d), color-stop(21.48148%, #14181d), color-stop(23.63704%, rgba(20, 24, 29, 0.985565)), color-stop(26.1%, rgba(20, 24, 29, 0.945131)), color-stop(28.80741%, rgba(20, 24, 29, 0.883007)), color-stop(31.70741%, rgba(20, 24, 29, 0.803499)), color-stop(34.74074%, rgba(20, 24, 29, 0.710915)), color-stop(37.84815%, rgba(20, 24, 29, 0.609563)), color-stop(40.97407%, rgba(20, 24, 29, 0.50375)), color-stop(44.05926%, rgba(20, 24, 29, 0.397784)), color-stop(47.04815%, rgba(20, 24, 29, 0.295973)), color-stop(49.88148%, rgba(20, 24, 29, 0.202624)), color-stop(52.5%, rgba(20, 24, 29, 0.122044)), color-stop(54.85185%, rgba(20, 24, 29, 0.0585423)), color-stop(56.87778%, rgba(20, 24, 29, 0.0164249)), color-stop(58.51852%, rgba(20, 24, 29, 0)));
  background-image: linear-gradient(90deg, #14181d 0, rgba(20, 24, 29, 0.985565) 0.97%, rgba(20, 24, 29, 0.945131) 2.07833%, rgba(20, 24, 29, 0.883007) 3.29667%, rgba(20, 24, 29, 0.803499) 4.60167%, rgba(20, 24, 29, 0.710915) 5.96667%, rgba(20, 24, 29, 0.609563) 7.365%, rgba(20, 24, 29, 0.50375) 8.77167%, rgba(20, 24, 29, 0.397784) 10.16%, rgba(20, 24, 29, 0.295973) 11.505%, rgba(20, 24, 29, 0.202624) 12.78%, rgba(20, 24, 29, 0.122044) 13.95833%, rgba(20, 24, 29, 0.0585423) 15.01667%, rgba(20, 24, 29, 0.0164249) 15.92833%, rgba(20, 24, 29, 0) 16.66667%, rgba(20, 24, 29, 0) 83.33333%, rgba(20, 24, 29, 0.0164249) 84.07167%, rgba(20, 24, 29, 0.0585423) 84.98333%, rgba(20, 24, 29, 0.122044) 86.04167%, rgba(20, 24, 29, 0.202624) 87.22%, rgba(20, 24, 29, 0.295973) 88.495%, rgba(20, 24, 29, 0.397784) 89.84%, rgba(20, 24, 29, 0.50375) 91.22833%, rgba(20, 24, 29, 0.609563) 92.635%, rgba(20, 24, 29, 0.710915) 94.03333%, rgba(20, 24, 29, 0.803499) 95.39833%, rgba(20, 24, 29, 0.883007) 96.70333%, rgba(20, 24, 29, 0.945131) 97.92167%, rgba(20, 24, 29, 0.985565) 99.03%, #14181d), linear-gradient(0deg, #14181d 0, #14181d 21.48148%, rgba(20, 24, 29, 0.985565) 23.63704%, rgba(20, 24, 29, 0.945131) 26.1%, rgba(20, 24, 29, 0.883007) 28.80741%, rgba(20, 24, 29, 0.803499) 31.70741%, rgba(20, 24, 29, 0.710915) 34.74074%, rgba(20, 24, 29, 0.609563) 37.84815%, rgba(20, 24, 29, 0.50375) 40.97407%, rgba(20, 24, 29, 0.397784) 44.05926%, rgba(20, 24, 29, 0.295973) 47.04815%, rgba(20, 24, 29, 0.202624) 49.88148%, rgba(20, 24, 29, 0.122044) 52.5%, rgba(20, 24, 29, 0.0585423) 54.85185%, rgba(20, 24, 29, 0.0164249) 56.87778%, rgba(20, 24, 29, 0) 58.51852%);
}

figure.backdrop img {
  max-width: 100%;
}

figure.backdrop figcaption {
  position: absolute;
  top: 50%;
  right: -10%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #717f8e;
  z-index: 10;
  letter-spacing: 1px;
  font-size: 0.8rem;
  opacity: 0.8;
}

.sign-in-btn {
  margin-top: 2em;
  margin-left: auto;
  width: auto !important;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.sign-in-btn button {
  display: block;
  margin: 0 auto;
  background-color: #445566;
  border-radius: 4px;
  border: none;
  padding: 0.5em;
}

.sign-in-btn button:hover {
  color: white;
}

.sign-in-form {
  position: absolute;
  right: 10%;
  top: 0;
  padding: 0.8em 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 2px 8px #14181c;
          box-shadow: 0 2px 8px #14181c;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  border-radius: 4px;
  background-color: #14181c;
}

.sign-in-form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sign-in-form .container label {
  opacity: 0.6;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.sign-in-form .container input {
  border-radius: 4px;
  padding: 0.3em 0.5em;
  border: none;
  background-color: #445566;
}

.sign-in-form .container input:focus {
  color: #14181c;
  background-color: white;
}

.sign-in-form button.close-form {
  opacity: 0.6;
  margin-right: 10px;
}

.sign-in-form button.close-form:hover {
  opacity: 1;
}

.sign-in-form div:not(.container) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.sign-in-form button:last-of-type {
  color: white;
}

.sign-in-form > p {
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 98%;
  background-color: #ff9010;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: white;
  padding: 0.4em;
  text-align: center;
  z-index: -10;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.sign-in-form > p.error {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.sign-in-form.open {
  opacity: 1;
  pointer-events: all;
}

.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular img {
  width: 150px;
  border: 1px solid #445566;
  cursor: pointer;
  border-radius: 4px;
}

.latest-reviews > p,
.popular > p {
  width: 100%;
  color: #99aabb;
  padding: 0.4em 0;
  margin: 1em 0 2em 0;
  border-bottom: 1px solid #445566;
  font-size: 0.9rem;
}

.latest-reviews {
  padding: 2em 0;
  width: 90%;
  margin: 0 auto;
}

.latest-reviews article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-reviews article a {
  width: 8.5%;
}

.latest-reviews article img {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #445566;
  cursor: pointer;
}

.search-movie-modal {
  position: absolute;
  top: 50%;
  width: 700px;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  background-color: #445566;
  z-index: 20;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.search-movie-modal.open {
  opacity: 1;
  pointer-events: all;
}

.search-movie-modal p {
  width: 100%;
  color: #d8e0e8;
}

.search-movie-modal p:first-of-type {
  margin-bottom: 1em;
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-movie-modal p:first-of-type button {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
}

.search-movie-modal p:first-of-type button:hover {
  color: white;
}

.search-movie-modal label {
  width: 100%;
  margin-bottom: 10px;
}

.search-movie-modal input {
  width: 100%;
  padding: 0.4em;
  font-size: 1.05rem;
  color: #445566;
  border: none;
  border-radius: 4px;
  background-color: #d8e0e8;
}

.search-movie-modal input:focus {
  background-color: white;
}

.search-movie-modal p:last-child {
  margin-top: 1.5em;
  padding: 0.4em 0;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 4px;
}

.search-movie-modal p:last-child:hover {
  background-color: #00c030;
}

.search-movie-modal p:last-child span {
  font-size: 0.8rem;
  opacity: 0.6;
}

.green-btn, .sign-in-form button:last-of-type, .add-new-review article form button {
  background: #00c030;
  padding: 0.3em 0.7em;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  margin: 10px 0 0 auto;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.green-btn:hover, .sign-in-form button:hover:last-of-type, .add-new-review article form button:hover {
  background: #01a52a;
}

.h4-subtitle {
  font-size: 0.8rem;
  width: 100%;
  padding: 0.6em 0;
  border-bottom: 1px solid #445566;
  opacity: 0.6;
  letter-spacing: 1px;
}

.add-new-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.add-new-review figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30%;
}

.add-new-review figure button {
  background-color: #717f8e;
  border: none;
  padding: 0.5em;
  position: relative;
  font-size: 0.7rem;
  border-radius: 4px;
}

.add-new-review figure button:after {
  content: '';
  position: absolute;
  left: -30px;
  -webkit-clip-path: polygon(50% 58%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 58%, 0% 100%, 100% 100%);
  background-color: #717f8e;
  width: 20px;
  height: 100%;
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.add-new-review figure img {
  border-radius: 4px;
  margin-top: 1.5em;
  max-width: 150px;
  -webkit-box-shadow: 0 0 8px #14181c;
          box-shadow: 0 0 8px #14181c;
}

.add-new-review article {
  width: 70%;
}

.add-new-review article h3 span {
  font-weight: normal;
  color: #d8e0e8;
  opacity: 0.6;
  font-size: 1rem;
}

.add-new-review article form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.add-new-review article form textarea {
  margin: 15px 0;
  resize: none;
  width: 100%;
  color: #445566;
  background-color: #99aabb;
  border: none;
  padding: 0.5em;
  border-radius: 4px;
}

.add-new-review article form textarea:focus {
  background-color: white;
}

.add-new-review article form .like,
.add-new-review article form .rating {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.add-new-review article form .like input,
.add-new-review article form .rating input {
  width: auto;
}

.add-new-review article form .like input[type='radio'],
.add-new-review article form .rating input[type='radio'] {
  margin-right: 5px;
}

.add-new-review article form .rating {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notification {
  padding: 1em;
  color: white;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 20;
  width: 400px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px #14181c;
          box-shadow: 0 2px 8px #14181c;
  font-weight: bold;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.notification.success {
  background-color: #00c030;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.notification.warning {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  background-color: #ff9010;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

#portal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.blanket {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */